name: publish-release

on:
  push:
    tags:
      - '*'

jobs:
  publish:
    name: Publish for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            artifact_name: phreesqlexe
            asset_name: phreesqlexe-ubuntu-x64
            artifact_path: build/phreesqlexe
          - os: windows-latest
            artifact_name: phreesqlexe.exe
            asset_name: phreesqlexe-windows-x64.zip
            artifact_path: phreesqlexe-windows-x64.zip
          - os: macos-latest
            artifact_name: phreesqlexe
            asset_name: phreesqlexe-macos-x64
            artifact_path: build/phreesqlexe

    steps:
    - uses: actions/checkout@v3
      with:
          submodules: recursive

    - name: Deps-Ubuntu
      if: matrix.os == 'ubuntu-latest'
      run: |
            sudo apt update
            sudo apt-get install -y libsqlite3-dev
    - name: Deps-MacOs
      if: matrix.os == 'macos-latest'
      run: |
            brew install sqlite3
    
    - name: Build-Ubuntu
      if: matrix.os == 'ubuntu-latest'
      run: |
          ./build.sh
    - name: Build-Windows
      if: matrix.os == 'windows-latest'
      run: |
          cd phreesqlexe
          cmake -B ..\build -DCMAKE_BUILD_TYPE=Release
          cmake --build ..\build --config Release
      
    - name: Package-Windows
      if: matrix.os == 'windows-latest'
      run: |
          mkdir release-package
          cp build\Release\phreesqlexe.exe release-package\
          cp build\Release\proj_9.dll release-package\
          cp build\Release\sqlite3.dll release-package\
          cp build\Release\proj.db release-package\
          Compress-Archive -Path release-package\* -DestinationPath phreesqlexe-windows-x64.zip
    - name: Build-MacOs
      if: matrix.os == 'macos-latest'
      env:
          CC: clang
          CXX: clang++
      run: |
          ./build.sh
          
    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: ${{ matrix.artifact_path }}
        asset_name: ${{ matrix.asset_name }}
        tag: ${{ github.ref }}
