name: ubuntu-build

on:
  push:
    paths:
    - examples/**
    - phreesqlib/**
    - phreesqlexe/**
    - external/**
    - .github/workflows/ubuntu.yml
    - build.sh
    - test.sh

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: dependencies
        run: |
          sudo apt update
          sudo apt-get install -y libsqlite3-dev
      - name: build
        run: |
          ./build.sh
      - name: test
        run: |
          ./test.sh
