name: windows-build

on:
  workflow_dispatch:
  push:
    paths:
    - examples/**
    - phreesqlib/**
    - phreesqlexe/**
    - external/**
    - .github/workflows/windows.yml
    - build.sh
    - test.sh

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: configure
        run: |
          mkdir build
          cd build
          cmake -G "Visual Studio 17 2022" ../phreesqlexe/
      - name: build
        run: |
          cd build
          cmake --build . --config Release --parallel 8
